header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  height: 7rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3rem;

  background: transparent;

  transition: all ease 500ms;
}

header.black {
  background: #141414;
}

header .logo {
  height: 2.4rem;
}

header .profile {
  height: 4rem;
}

header .logo img, header .profile img {
  height: 100%;
}
