@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  background: #111;
}

.lists {
  margin-top: -12rem;
}

footer {
  margin: .5rem 0;
  text-align: center;
}

footer p {
  font-size: 1.2rem;
}

.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}